.cart-leftdiv {
    float: left;
    margin-left: 2%;
    width: 25%;
    height: 50px;
    margin-top: 1%;
}

.cart-middlediv {
    float: left;
    width: 46%;
    height: 50px;

    margin-top: 1%;
}

.cart-rightdiv {
    float: right;
    width: 25%;
    margin-right: 2%;
    height: 50px;
    margin-top: 1%;
}

.cart-leftButton{
    border-radius: '16px';
    width:'8%';
    height: '50%';
    text-align: 'center';
    background-color: 'red';
}
.cart-leftButton:hover{
    background-color: 'darkred';
}




.cart-pizza-container {
    width: 50%;
}  
.cart-pizza {
    margin-left: 76%;
    width: 50%;
    position: relative;
}
  
.cart-pizza-topping {
    position: absolute;
    margin-top: -100px;
}
  
.cart-pizza-topping-img {
    width: 100%;
}


.cart-left-functions{
    width: 50%;
    float: left;
}

.cart-right-functions{
    width: 50%;
    float: right;
}

  
.cart-functions {
    margin: auto;
    width: 100%;
    padding: 0.1rem;;
    display: flex;
}

  
.cart-functions-button {
    border-radius: 100px;
    flex: 1;
    margin-top: 2%;
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 2.5%;
    background: #df2020;
    border: 2px solid #df2020;
}

.cart-functions-price {
    border-radius: 100px;
    flex: 1;
    margin-top: 2%;
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 2.5%;
    background: white;
    font-weight: bold;
    color: #df2020;
    border: 2px solid #df2020;
    cursor: default;
}

.cart-functions-price:hover {
    cursor: default;  
    background-color: white;
}
  