.sendpage-image-container {
    width: 50%;
    height: 350px;
}

.flippable-style{
    transform: scaleX(-1);
}

.sendpage-image{
    margin-left: 75%;
    width: 50%;
}

.text-style{
    margin-left: 42%;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10%;
}
